@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* BOX SIZING RULES */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* SET CORE BODY DEFAULTS */
body {
  /* FONT & TEXT */
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  color: #2b3a55;

  /* LAYOUT */
  min-height: 100vh;
  margin: 0;
  padding: 0;

  /* APPEARANCE */
  background-color: #ffffff;
}

/* IMPROVE MEDIA DEFAULTS */
img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* AVOID TEXT OVERFLOWS */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

h2 {
  color: #a435f0;
}

.swiper {
  width: 100%;
  height: 170px;
  margin: 15px 0 10px;
}

.swiper-slide .shade {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
}

.swiper-slide:hover {
  cursor: pointer;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

h5,
h6 {
  margin: 0;
  font-weight: 400;
}

.description {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-self: end;
  padding: 0 10px 5px 10px;
  color: white;
}

section {
  margin-bottom: 50px;
}

/* FOOTER */

footer {
  background-color: #a435f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  margin: 0 auto;
}

.footer__links a {
  color: #540375;
  cursor: pointer;
  text-decoration: none;
}

.footer__links a:hover {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.footer__links a:visited {
  color: #fcfdf2;
  cursor: pointer;
  text-decoration: none;
}

.footer__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 25px 0 0 0;
}

.footer__fs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.footer__fs i:hover {
  color: white;
  cursor: pointer;
}

.footer__fs i:visited {
  color: #fcfdf2;
  cursor: pointer;
}
