.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cards {
  display: flex;
  flex-direction: column;
  box-shadow: 0.1875rem 0.1875rem 0.9375rem -0.4375rem rgba(0, 0, 0, 0.75);
  border-radius: 0.5rem;
  margin-bottom: 1.875rem;
  padding: 0.9375rem;
  text-align: center;
  max-width: 44.375rem;
}

.cards__center {
  margin-bottom: 1.25rem;
}

@media (min-width: 768px) {
  .projects {
    display: flex;
    flex-direction: row;
    gap: 1.875rem;
    flex: 1;
  }
}
