.highlight {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 70%, #fece62 70%);
}

i:hover {
  color: #fece62;
  transform: scale(1.4);
}

@media (min-width: 768px) {
  .main__profile__about {
    margin-right: 24px;
  }

  .main--profile {
    display: flex;
    align-items: stretch;
  }

  .williams_pic {
    display: none;
  }

  .main-profile-picture img {
    background-image: url(images/williams.jpg);
    margin-top: 48px;
  }
}
