nav {
  background-color: var(--background);
  width: 100%;
  color: var(--pale);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: none;
}

.active {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 72px;
  width: 100%;
  height: 100vh;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
}

.toggleBox {
  background-color: var(--background);
  color: var(--pale);
}

.hide {
  display: none;
}

.close {
  display: none;
}

.show {
  display: flex;
}

ul {
  padding-top: 50px;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 35px 0;
  text-transform: uppercase;
}
