@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import 'nav.css';
@import 'main.css';
@import 'section.css';
@import 'footer.css';

:root {
  --background: #02435c;
  --pale: #f5f5f5;
  --calm: #81cacf;
  --words: rgba(125, 125, 125, 1);
  --nav: #f5f5fc;
  --nav-words: #3f3d56;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 90%;
  margin: 0 auto;
}

img {
  width: 100%;
}

/* unvisited link */
nav a:link {
  color: var(--nav-words);
}

a:link {
  color: var(--calm);
}

/* mouse over link */
.navbar_item a:hover,
a:hover {
  color: #fece62;
  transform: scale(1.1);
}

/* selected link */
a:active {
  color: #effad3;
}

.projectsButton {
  display: flex;
  justify-content: center;
}

.btn {
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

h2 {
  color: var(--calm);
  margin-top: 24px;
  padding: 24px 0;
}

p {
  padding: 8px 0;
}

.drawing {
  height: 100vh;
}
